


body {
    background: #E5E5E5;;
    font-family: Roboto,sans-serif;
    margin: 0;
}
.logo-header {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}
.logo-blue {
 color:#2196F3;
}

.logo-black {
    color: #212121;
}
/* page-header */
.page-header {
    width: 1230px;  
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
    
.container-nav {
    width: 1230px;  
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
/* main-nav */

.main-nav {
    display: flex;
    align-items: center;
    
}
.site-nav {
    display: flex;
    margin-left: 85px;
}
.site-nav  .link {
    display: block;
    padding-top: 30px;
}

.site-nav  .item {
  
    /* background-color: tomato; */
}

.site-nav  .item:not(:last-child) {
    margin-right:  50.34px;
}

.list {
    list-style: none;
    }
    .list .list-item a {
        font-family: Roboto;
        color: #212121;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }
    .contacts-nav {
        display: flex;
        margin-left: auto;
    }

    .contacts-nav .item + .item {
        margin-left: 30px;

    }


    .list a:hover,
    .list a:focus {
        color: #2196F3;
    }


.hero {
    display: block;
    width: 1600px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:  200px;
    padding-bottom: 280px;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;  
    background: rgba(47, 48, 58, 0.8);
    
}
.button-order {
    display: inline-block;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    padding: 10px 32px;   
    width: 200px;
    height: 50px;
    left: 732px;
    top: 440px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;

}



/* features */

.feature-container {
    width: 1230px;  
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;  
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-element {
    width: 270px;
    background-color: tomato;
    margin-right: 30px;
    margin-bottom: 94px;
    margin-top: 94px;
}
.flex-element:last-child {
    margin-right: 0;
}

/* portfolio css */

.container-project {
    width: 1230px;  
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto; 
    margin-right: auto ; 
}
.project-list {
    display: flex;
    flex-wrap: wrap;
}
.project-list-item:nth-child(3n) {
    margin-right: 0;
}
.project-list-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}